@page "/insertClient"
@using Marchandises.Services
@using Marchandises.Models
@inject IClientCrud clientCrud

<h3>Ajouter un Client</h3>

<EditForm Model="Cl" Method="Post" FormName="Ajout" OnValidSubmit="Insert">
    <DataAnnotationsValidator/>
    @* <ValidationSummary/> *@

    <div class="mb-3">
        <label for="name" class="form-label">Nom :</label>
        <InputText @bind-Value="Cl.Nom" class="form-control" id="name" placeholder="Kossigan"></InputText>
        <ValidationMessage For="@(()=>Cl.Nom)"/>
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">Telephone :</label>
        <InputText @bind-Value="Cl.Telephone" class="form-control" id="tel" placeholder="00000000"></InputText>
        <ValidationMessage For="@(()=>Cl.Telephone)"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn-dark">Insert</button>
    </div>
    
   
</EditForm>

@code {
    [SupplyParameterFromForm]
    public Client Cl { get; set; } = new Client();

    public async Task Insert()
    {
        bool ex=await clientCrud.InsertClient(Cl);
        if (ex)
        {
            Cl = new Client();
        }
    }


}
