@page "/Add"
@rendermode InteractiveServer

<PageTitle>O</PageTitle>
<form>
    <div>
        <label for="Id">Id</label>
        <input id="Id"/>
    </div>
    <div>
        <label for="Name">Name</label>
        <input id="Name"/>
    </div>
    <div>
        <label for="Prix">Prix</label>
        <input id="Prix"/>
    </div>
</form>

@code{

}